<footer id="footer">
  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
  </script>
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div>
      Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> . Theme by <a href="https://github.com/xiangming/landscape-plus" target="_blank">Landscape-plus</a> 
    </div>
    <div id="footer-info" class="inner">
        <div>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011202000624" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/img/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11011202000624号</p></a>
        </div>
      渝ICP备16011596号
       &copy;<%= date(new Date(), 'YYYY') %> <a href="http://xiaoxiaomo.com" target="_blank"><%= config.author || config.title %></a>.&nbsp;&nbsp;|&nbsp;
      <span id="busuanzi_container_site_pv">
        访问 <a href="http://service.ibruce.info/" target="_blank"><span id="busuanzi_value_site_pv"></span></a> 次
      </span>
      <span id="busuanzi_container_site_uv">
        <a href="http://service.ibruce.info/" target="_blank"><span id="busuanzi_value_site_uv"></span></a> 人. <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258893168'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258893168%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </span>      
    </div>
    
 <!-- <script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  
  _st('install','BQgHHA6wawi4aWmfqiC2','2.0.0');
</script> -->
  </div>
</footer>
