#footer
  //background: color-footer-background
  background: url(footer-url) center #000
  background-size: cover
  z-index: -1
  padding: 45px 0
  text-align: center
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em